
.contact {
  position: relative;
  width: 47.5%;
  height: 50%;
  background-color: rgb(20, 25, 30);
  box-shadow: 0 0 8px rgb(10, 10, 10);
  border-radius: 5px;
  overflow: hidden;
}

.contact-body {
  padding: 15px 15px;
  text-align: start;
  font-size: 20px;
  color: rgb(225, 225, 225);
}

.contact-body a {
  text-decoration: none;
}
