@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:500,700&display=swap');

.home {
  width: 47.5%;
  height: 60%;
  font-family: 'Source Code Pro', monospace;
  font-size: 30px;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
